Source: osrm-backend
Maintainer: NextGIS <info@nextgis.com>
Uploaders: Mikhail Gusev <gusevmihs@gmail.com>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               software-properties-common,
               g++-6,
               gcc-6,
               build-essential,
               git,
               wget,
               cmake3,
               pkg-config,
               libbz2-dev,
               libstxxl-dev,
               libstxxl1,
               libxml2-dev,
               libzip-dev,
               libboost-all-dev,
               lua5.2,
               liblua5.2-dev,
               libtbb-dev
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/nextgis-borsch/osrm-backend
Vcs-Git: git@github.com:nextgis-borsch/osrm-backend.git
Homepage: https://github.com/nextgis-borsch/osrm-backend

Package: osrm-backend
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: A copy of OSRM Project (https://github.com/Project-OSRM/osrm-backend) for NextGIS Avral purpose
