Source: ngstd
Maintainer: NextGIS <info@nextgis.com>
Uploaders: Dmitry Baryshnikov <dmitry.baryshnikov@nextgis.com>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               cmake,
               cdbs,
               dh-autoreconf,
               d-shlibs,
               chrpath,
               libgdal-dev,
               libqt4-dev,
               qtbase5-dev-tools,
               qttools5-dev-tools,
               qttools5-dev,
               libqt5svg5-dev,
               libjson-c-dev,
               libssl-dev,
               python-sip-dev,
               python-qt4-dev,
               python-qt4,
               pyqt4-dev-tools
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/nextgis/lib_ngstd
Vcs-Git: git@github.com:nextgis/lib_ngstd.git
Homepage: https://nextgis.com

Package: libngstd-core5
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libngstd-core-i18n
Description: NextGIS standard Qt5 library implements standard API for console
 or GUI applications and my.nextgis.com service.
 .
 This package contains the shared library.

Package: libngstd-core5-dev
Architecture: any
Section: libdevel
Depends: libngstd-core5,
         libngstd-headers,
         ${misc:Depends}
Description: NextGIS standard Qt5 library.
 NextGIS standard Qt5 library implements standard API for console
 or GUI applications and my.nextgis.com service.
 .
 This package contains the files needed to develop a software that
 will use the NextGIS standard Qt5 library (headers, static objects,
 configuration script).

Package: libngstd-framework5
Architecture: any
Section: libs
Depends: libngstd-core5,
         ${shlibs:Depends},
         ${misc:Depends},
         libngstd-framework-i18n
Description: NextGIS standard Qt5 library implements standard API for console
 or GUI applications and my.nextgis.com service.
 .
 This package contains the shared library.

Package: libngstd-framework5-dev
Architecture: any
Section: libdevel
Depends: libngstd-framework5,
         libngstd-core5-dev,
         libngstd-headers,
         ${misc:Depends}
Description: NextGIS standard Qt5 library.
 NextGIS standard Qt5 library implements standard API for console
 or GUI applications and my.nextgis.com service.
 .
 This package contains the files needed to develop a software that
 will use the NextGIS standard Qt5 library (headers, static objects,
 configuration script).

Package: libngstd-core4
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libngstd-core-i18n
Description: NextGIS standard Qt4 library implements standard API for console
 or GUI applications and my.nextgis.com service.
 .
 This package contains the shared library.

Package: libngstd-core4-dev
Architecture: any
Section: libdevel
Depends: libngstd-core4,
         libngstd-headers,
         ${misc:Depends}
Description: NextGIS standard Qt4 library.
 NextGIS standard Qt4 library implements standard API for console
 or GUI applications and my.nextgis.com service.
 .
 This package contains the files needed to develop a software that
 will use the NextGIS standard Qt4 library (headers, static objects,
 configuration script).

Package: libngstd-framework4
Architecture: any
Section: libs
Depends: libngstd-core4,
         ${shlibs:Depends},
         ${misc:Depends},
         libngstd-framework-i18n
Description: NextGIS standard Qt4 library implements standard API for console
 or GUI applications and my.nextgis.com service.
 .
 This package contains the shared library.

Package: libngstd-framework4-dev
Architecture: any
Section: libdevel
Depends: libngstd-framework4,
         libngstd-core4-dev,
         libngstd-headers,
         ${misc:Depends}
Description: NextGIS standard Qt4 library.
 NextGIS standard Qt4 library implements standard API for console
 or GUI applications and my.nextgis.com service.
 .
 This package contains the files needed to develop a software that
 will use the NextGIS standard Qt4 library (headers, static objects,
 configuration script).

Package: libngstd-headers
Architecture: all
Section: libdevel
Depends: ${misc:Depends}
Description: Header files for NextGIS standard Qt library.
 .
 This package contains headers for NextGIS standard Qt library.

Package: libngstd-core-i18n
Architecture: all
Section: libdevel
Depends: ${misc:Depends}
Description: Translation files for NextGIS standard Qt library.
 .
 This package contains translations for NextGIS standard Qt library.

Package: libngstd-framework-i18n
Architecture: all
Section: libdevel
Depends: ${misc:Depends}
Description: Translation files for NextGIS standard Qt library.
 .
 This package contains translations for NextGIS standard Qt library.

Package: python-ngstd
Architecture: any
Section: python
Provides: ${python:Provides}
Depends: python-qt4,
         python-sip,
         libngstd-core4 (= ${binary:Version}),
         libngstd-framework4 (= ${binary:Version}),
         ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: Python bindings to NextGIS standard library -
 architecture-independent files
 .
 This package contains architecture-independent files for the NextGIS standard
 library Python bindings.
