Source: gdal
Maintainer: NextGIS <info@nextgis.com>
Uploaders: Dmitry Baryshnikov <dmitry.baryshnikov@nextgis.com>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               cmake,
               cdbs,
               zlib1g-dev,
               libpng-dev,
               libjpeg-dev,
               doxygen,
               d-shlibs,
               libgeos-dev,
               dh-python,
               python3-all-dev,
               python3-numpy,
               python3-all-dev,
               python3-numpy,
               libcurl4-gnutls-dev | libcurl-ssl-dev,
               chrpath,
               swig,
               libexpat1-dev,
               libproj-dev,
               libxml2-dev,
               liblzma-dev,
               libarmadillo-dev,
               libtiff-dev,
               libgeotiff-dev (>= 1.5),
               libjson-c-dev,
               libsqlite3-dev,
               libpcre3-dev,
               libspatialite-dev (>= 5.0),
               libpq-dev,
               postgresql-server-dev-all,
               libhdf4-alt-dev | libhdf4-dev,
               libopencad-dev,
               libopenjp2-7-dev | libopenjpeg-dev,
               libgif-dev,
               libqhull-dev,
               libwebp-dev,
               lsb-release,
               libkml-dev (>= 1.3.0~rc0-3),
               libboost-dev,
               python3-pytest,
               python3-lxml
Build-Conflicts: python-setuptools
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/nextgis-borsch/lib_gdal
Vcs-Git: git@github.com:nextgis-borsch/lib_gdal.git
Homepage: http://www.gdal.org/
X-Python3-Version: >= 3.2

Package: libgdal31
Architecture: any
Section: libs
Depends: gdal-data (>= ${source:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: proj-bin
Suggests: gdal-bin, gdal-data
Breaks: libgdal1h (<<2.0)
Description: Geospatial Data Abstraction Library
 GDAL is a translator library for raster geospatial data formats.
 As a library, it presents a single abstract data model to the
 calling application for all supported formats. The related OGR
 library (which lives within the GDAL source tree) provides
 a similar capability for simple features vector data.
 .
 GDAL supports many popular data formats, including commonly used
 ones (GeoTIFF, JPEG, PNG and more) as well as the ones used in
 GIS and remote sensing software packages (ERDAS Imagine,
 ESRI Arc/Info, ENVI, PCI Geomatics). Also supported many remote
 sensing and scientific data distribution formats such as HDF,
 EOS FAST, NOAA L1B, NetCDF, FITS.
 .
 OGR library supports popular vector formats like ESRI Shapefile,
 TIGER data, S57, MapInfo File, DGN, GML and more.
 .
 This package contains the shared library.

Package: libgdal-dev
Architecture: any
Section: libdevel
Depends: libgdal31 (= ${binary:Version}),
         libc6-dev,
         libarmadillo-dev,
         libpng-dev,
         libjpeg-dev,
         libgeos-dev,
         libtiff-dev,
         libgeotiff-dev (>= 1.5.0),
         libcurl4-gnutls-dev | libcurl-ssl-dev,
         libjson-c-dev,
         libsqlite3-dev,
         libspatialite-dev,
         libpq-dev,
         libproj-dev (>= 6.0.0),
         libqhull-dev,
         libhdf4-alt-dev | libhdf4-dev,
         libopencad-dev,
         libopenjp2-7-dev | libopenjpeg-dev,
         libgif-dev,
         libqhull-dev,
         libwebp-dev,
         lsb-release,
         ${misc:Depends}
Suggests: libgdal-doc
Description: Geospatial Data Abstraction Library - Development files
 GDAL is a translator library for raster geospatial data formats.
 As a library, it presents a single abstract data model to the
 calling application for all supported formats. The related OGR
 library (which lives within the GDAL source tree) provides
 a similar capability for simple features vector data.
 .
 GDAL supports many popular data formats, including commonly used
 ones (GeoTIFF, JPEG, PNG and more) as well as the ones used in
 GIS and remote sensing software packages (ERDAS Imagine,
 ESRI Arc/Info, ENVI, PCI Geomatics). Also supported many remote
 sensing and scientific data distribution formats such as HDF,
 EOS FAST, NOAA L1B, NetCDF, FITS.
 .
 OGR library supports many popular vector formats like ESRI Shapefile,
 TIGER data, S57, MapInfo File, DGN, GML and more.
 .
 This package contains the files needed to develop a software that
 will use the GDAL/OGR (headers, static objects, configuration script).

Package: libgdal-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: libgdal31
Description: Documentation for the Geospatial Data Abstraction Library
 GDAL is a translator library for raster geospatial data formats.
 As a library, it presents a single abstract data model to the
 calling application for all supported formats. The related OGR
 library (which lives within the GDAL source tree) provides
 a similar capability for simple features vector data.
 .
 GDAL supports many popular data formats, including commonly used
 ones (GeoTIFF, JPEG, PNG and more) as well as the ones used in
 GIS and remote sensing software packages (ERDAS Imagine,
 ESRI Arc/Info, ENVI, PCI Geomatics). Also supported many remote
 sensing and scientific data distribution formats such as HDF,
 EOS FAST, NOAA L1B, NetCDF, FITS.
 .
 OGR library supports many popular vector formats like ESRI Shapefile,
 TIGER data, S57, MapInfo File, DGN, GML and more.
 .
 This package contains documentation for GDAL/OGR API.
Homepage: http://www.gdal.org/#index_userdocs

Package: gdal-bin
Architecture: any
Depends: python3-gdal (= ${binary:Version}),
         ${python3:Depends},
         ${shlibs:Depends},
         ${misc:Depends},
         gdal-data (= ${source:Version})
Suggests: python3-gdal
Breaks: gdal-bin (<< 1.10.0-0~),
        python3-gdal (<< 2.4.3~)
Replaces: python3-gdal (<< 2.4.3~)
Description: Geospatial Data Abstraction Library - Utility programs
 GDAL is a translator library for raster geospatial data formats.
 As a library, it presents a single abstract data model to the
 calling application for all supported formats. The related OGR
 library (which lives within the GDAL source tree) provides
 a similar capability for simple features vector data.
 .
 GDAL supports many popular data formats, including commonly used
 ones (GeoTIFF, JPEG, PNG and more) as well as the ones used in
 GIS and remote sensing software packages (ERDAS Imagine,
 ESRI Arc/Info, ENVI, PCI Geomatics). Also supported many remote
 sensing and scientific data distribution formats such as HDF,
 EOS FAST, NOAA L1B, NetCDF, FITS.
 .
 OGR library supports many popular vector formats like ESRI Shapefile,
 TIGER data, S57, MapInfo File, DGN, GML and more.
 .
 This package contains utility programs, based on GDAL/OGR library,
 namely gdal_translate, gdalinfo, gdaladdo, gdalwarp, ogr2ogr, ogrinfo,
 ogrtindex.
Homepage: http://www.gdal.org/gdal_utilities.html

Package: gdal-data
Architecture: all
Depends: ${misc:Depends}
Breaks: libgdal20 (<< 2.5.0~)
Description: Geospatial Data Abstraction Library - Data files
 GDAL is a translator library for raster geospatial data formats.
 As a library, it presents a single abstract data model to the
 calling application for all supported formats. The related OGR
 library (which lives within the GDAL source tree) provides
 a similar capability for simple features vector data.
 .
 GDAL supports 40+ popular data formats, including commonly used
 ones (GeoTIFF, JPEG, PNG and more) as well as the ones used in
 GIS and remote sensing software packages (ERDAS Imagine,
 ESRI Arc/Info, ENVI, PCI Geomatics). Also supported many remote
 sensing and scientific data distribution formats such as HDF,
 EOS FAST, NOAA L1B, NetCDF, FITS.
 .
 OGR library supports popular vector formats like ESRI Shapefile,
 TIGER data, S57, MapInfo File, DGN, GML and more.
 .
 This package contains the GDAL data files.

Package: python3-gdal
Architecture: any
Section: python
Depends: ${shlibs:Depends},
         ${python3:Depends},
         python3-numpy,
         ${misc:Depends}
Suggests: gdal-bin
Provides: ${python3:Provides}
Description: Python 3 bindings to the Geospatial Data Abstraction Library
 GDAL is a translator library for raster geospatial data formats.
 As a library, it presents a single abstract data model to the
 calling application for all supported formats. The related OGR
 library (which lives within the GDAL source tree) provides
 a similar capability for simple features vector data.
 .
 GDAL supports many popular data formats, including commonly used
 ones (GeoTIFF, JPEG, PNG and more) as well as the ones used in
 GIS and remote sensing software packages (ERDAS Imagine,
 ESRI Arc/Info, ENVI, PCI Geomatics). Also supported many remote
 sensing and scientific data distribution formats such as HDF,
 EOS FAST, NOAA L1B, NetCDF, FITS.
 .
 OGR library supports many popular vector formats like ESRI Shapefile,
 TIGER data, S57, MapInfo File, DGN, GML and more.
 .
 This package contains Python 3 bindings for GDAL/OGR library and
 a set of additional command line tools.
Homepage: http://trac.osgeo.org/gdal/wiki/GdalOgrInPython
