Source: qgisheadless
Maintainer: NextGIS <info@nextgis.com>
Uploaders: Dmitry Baryshnikov <dmitry.baryshnikov@nextgis.com>
           Denis Ilyin <denis.ilyin@nextgis.com>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               cmake,
               cdbs,
               dh-autoreconf,
               d-shlibs,
               dh-python,
               flex,
               bison,
               libqgis-dev
Standards-Version: 0.1.0
Vcs-Browser: https://gitlab.com/nextgis_private/qgis_headless
Vcs-Git: git@gitlab.com:nextgis_private/qgis_headless.git
Homepage: http://nextgis.com/nextgis-qgis/
X-Python3-Version: >= 3.2

Package: libqgis_headless
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Headless rendering library using QGIS