Source: nextgisqgis
Maintainer: NextGIS <info@nextgis.com>
Uploaders: Dmitry Baryshnikov <dmitry.baryshnikov@nextgis.com>
           Alexander Lisovenko <alexander.lisovenko@gmail.com>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               cmake,
               cdbs,
               dh-autoreconf,
               d-shlibs,
               dh-python,
               libexpat1-dev,
               libgdal-dev,
               libgeos-dev,
               libgsl0-dev | libgsl-dev,
               libpq-dev,
               libproj-dev,
               libqt4-dev,
               libqca2-dev,
               libsqlite3-dev,
               libspatialite-dev,
               libqwt5-qt4-dev,
               libqscintilla2-dev,
               libqtwebkit-dev,
               libspatialindex-dev,
               python-sip-dev,
               python-qt4-dev,
               python-qt4,
               pyqt4-dev-tools,
               python-qscintilla2,
               pyqt4.qsci-dev,
               python-six,
               python-raven
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/nextgis/nextgisqgis
Vcs-Git: git@github.com:nextgis/nextgisqgis.git
Homepage: http://nextgis.com/nextgis-qgis/
X-Python3-Version: >= 3.2

Package: ngqgis
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         python-ngqgis (= ${binary:Version}),
         ngqgis-providers (= ${binary:Version}),
         ngqgis-plugins (= ${source:Version})
Description: Geographic Information System (GIS)
 A Geographic Information System (GIS) manages, analyzes, and displays
 databases of geographic information. QGIS supports shape file viewing and
 editing, spatial data storage with PostgreSQL/PostGIS, projection on-the-fly,
 map composition, and a number of other features via a plugin interface. QGIS
 also supports display of various georeferenced raster and Digital Elevation
 Model (DEM) formats including GeoTIFF, Arc/Info ASCII Grid, and USGS ASCII
 DEM.

Package: libngqgis-app
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: QGIS - shared app library
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the shared app library.

Package: libngqgis-core
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: QGIS - shared core library
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the shared core library.

Package: libngqgis-gui
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: QGIS - shared gui library
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the shared gui library.

Package: libngqgis-analysis
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: QGIS - shared analysis library
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the shared analysis library.

Package: libngqgis-python
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: QGIS - shared Python library
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the shared Python library.

Package: ngqgis-providers
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libqt4-sql-sqlite,
         libqt4-sql-psql,
         libqca2-plugin-ossl
Description: collection of data providers to QGIS
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the provider plugins for QGIS.

Package: ngqgis-plugins
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: collection of data providers to QGIS
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the plugins for QGIS.

Package: python-ngqgis
Architecture: any
Section: python
Provides: ${python:Provides}
Depends: gdal-bin,
         python-qt4,
         python-qt4-sql,
         python-sip,
         python-qscintilla2,
         python-jinja2,
         python-nose2,
         python-httplib2,
         python-markupsafe,
         python-pygments,
         python-requests,
         python-dateutil,
         python-tz,
         python-six,
         python-raven,
         python-yaml,
         python-pyspatialite,
         python-gdal,
         python-matplotlib,
         python-future,
         python-psycopg2,
         python-numpy,
         libngqgis-core (= ${binary:Version}),
         libngqgis-python (= ${source:Version}),
         ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: Python bindings to QGIS - architecture-independent files
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains architecture-independent files for the QGIS Python
 bindings.
