Source: nextgisqgis
Maintainer: NextGIS <info@nextgis.com>
Uploaders: Dmitry Baryshnikov <dmitry.baryshnikov@nextgis.com>
           Alexander Lisovenko <alexander.lisovenko@gmail.com>
           Denis Ilyin <denis.ilyin@nextgis.com>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9),
               cmake,
               cdbs,
               dh-autoreconf,
               d-shlibs,
               dh-python,
               flex,
               bison,
               libproj-dev,
               libgeos-dev,
               libgdal-dev,
               libspatialindex-dev,
               libsqlite3-dev,
               libspatialite-dev,
               libqca-qt5-2-dev,
               libzip-dev,
               libqt5svg5-dev,
               libqt5xmlpatterns5-dev,
               qt5keychain-dev,
               qt3d5-dev,
               qt3d-assimpsceneimport-plugin,
               qt3d-defaultgeometryloader-plugin,
               qt3d-gltfsceneio-plugin,
               qt3d-scene2d-plugin,
               qtbase5-dev,
               qtbase5-private-dev,
               qttools5-dev-tools,
               qttools5-dev,
               libexiv2-dev
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/nextgis/nextgisqgis
Vcs-Git: git@github.com:nextgis/nextgisqgis.git
Homepage: http://nextgis.com/nextgis-qgis/
X-Python3-Version: >= 3.2

Package: libngqgis-core
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: QGIS - shared core library
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the shared core library.
 
Package: libngqgis-analysis
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: QGIS - shared analysis library
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the shared analysis library.
 
Package: libngqgis-dev
Architecture: any
Section: libdevel
Depends: libngqgis-core,
         ngqgis-providers-common,
         libgdal-dev,
         libgeos-dev,
         libproj-dev,
         libqt5svg5-dev,
         qtbase5-dev,
         ${misc:Depends}
Description: QGIS - development files
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains the headers and libraries needed to develop plugins for
 QGIS.

Package: ngqgis-providers-common
Architecture: all
Depends: ${misc:Depends}
Description: collection of data providers to QGIS - architecture-independent files
 QGIS is a Geographic Information System (GIS) which manages, analyzes and
 display databases of geographic information.
 .
 This package contains architecture-independent files for the QGIS providers.
