Source: qscintilla
Section: python
Priority: optional
Maintainer: NextGIS <info@nextgis.com>
Uploaders: Dmitry Baryshnikov <dmitry.baryshnikov@nextgis.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.4
Homepage: https://github.com/nextgis-borsch/lib_qscintilla
Vcs-Git: git@github.com:nextgis-borsch/lib_qscintilla.git

Package: pyqt4.qsci-dev
Architecture: all
Depends: python-qt4-dev, python-sip-dev, ${misc:Depends}
Description: Development files for Python Qscintilla2 (Qt4)
 This package contains the source SIP files from which the Python bindings for
 Qscintilla2 (Qt4) are created. They are needed for building PyQt4 bindindgs
 for Qscintilla2 as well as creating bindings for own widgets written in C++.
