Source: mapserver
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Uploaders: Francesco Paolo Lovergine <frankie@debian.org>,
           Alan Boudreault <aboudreault@mapgears.com>,
           Bas Couwenberg <sebastic@xs4all.nl>
Section: devel
Priority: optional
Build-Depends:  debhelper (>= 9),
                dpkg-dev (>= 1.16.1.1),
                cmake (>= 2.8.12),
                chrpath,
                libcairo2-dev,
                libcurl4-gnutls-dev | libcurl-ssl-dev,
                libfcgi-dev,
                libfreetype6-dev (>= 2.0.9),
                libfribidi-dev,
                libgdal-dev (>= 1.10.1-0~),
                libgeos-dev (>= 3.3.1-1~),
                libgif-dev,
                libharfbuzz-dev,
                libjpeg-dev,
                libpng-dev,
                libpq-dev,
                libproj-dev,
                librsvg2-dev,
                libxml2-dev,
                libxslt1-dev,
                zlib1g-dev (>= 1.1.4),
                pkg-config,
                pkg-kde-tools,
                python-all (>= 2.6.6-3~),
                python-all-dev (>= 2.6.6-3~),
                swig,
                docbook2x,
                docbook-xsl,
                docbook-xml,
                xsltproc,
                libprotobuf-c-dev,
                protobuf-c-compiler
Build-Conflicts: libcurl3-openssl-dev
XS-Ruby-Versions: all
Standards-Version: 3.9.5
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-grass/mapserver.git
Vcs-Git: git://anonscm.debian.org/pkg-grass/mapserver.git
Homepage: http://www.mapserver.org

Package: libmapserver1
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Suggests: cgi-mapserver,
          mapserver-bin,
          mapserver-doc,
          python-mapscript
Pre-Depends: ${misc:Pre-Depends}
Description: Shared library for MapServer
 This package contains the shared library.
 .
 MapServer is a CGI-based framework for Internet map services which
 supports Open Geospatial Consortium (OGC) standards. Scripting
 functionality in MapScript is provided by the suggested mapscript
 library packages.

Package: libmapserver1-dev
Architecture: any
Section: libdevel
Depends: libmapserver1 (= ${binary:Version}),
         ${misc:Depends}
Suggests: cgi-mapserver,
          mapserver-bin,
          mapserver-doc,
          python-mapscript
Breaks: libmapserver-dev (<< 6.2.1-3~),
        libmapserver-6.2.1-dev (<< 6.4.0-1~)
Replaces: libmapserver-dev (<< 6.2.1-3~),
          libmapserver-6.2.1-dev (<< 6.4.0-1~)
Description: Shared library development files for MapServer
 This package contains the development files for the shared library.
 .
 MapServer is a CGI-based framework for Internet map services which
 supports Open Geospatial Consortium (OGC) standards. Scripting
 functionality in MapScript is provided by the suggested mapscript
 library packages.

Package: cgi-mapserver
Architecture: any
Section: web
Depends: ${shlibs:Depends},
         ${misc:Depends}
Suggests: mapserver-bin,
          mapserver-doc,
          python-mapscript
Description: CGI executable for MapServer
 This package contains the mapserv CGI program. It provides the
 MapServer template language, and can be used to implement Web Map
 Service applications.
 .
 MapServer is a CGI-based framework for Internet map services which
 supports Open Geospatial Consortium (OGC) standards. Scripting
 functionality in MapScript is provided by the suggested mapscript
 library packages.

Package: mapserver-bin
Architecture: any
Section: misc
Depends: ${shlibs:Depends},
         ${misc:Depends}
Suggests: cgi-mapserver,
          mapserver-doc,
          shapelib,
          python-mapscript
Description: MapServer utilities
 This package provides command-line utilities for MapServer.
 .
 MapServer is a CGI-based framework for Internet map services which
 supports Open Geospatial Consortium (OGC) standards. Scripting
 functionality in MapScript is provided by the suggested mapscript
 library packages.

Package: mapserver-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: cgi-mapserver,
          python-mapscript
Description: documentation for MapServer
 This package provides some brief documentation for MapServer.
 .
 MapServer is a CGI-based framework for Internet map services which
 supports Open Geospatial Consortium (OGC) standards. Scripting
 functionality in MapScript is provided by the suggested mapscript
 library packages.

Package: python-mapscript
Architecture: any
Section: python
Depends: ${python:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Suggests: mapserver-bin,
          mapserver-doc
Provides: ${python:Provides}
Description: Python library for MapServer
 Python MapScript provides MapServer functions for Python scripts.
 .
 MapServer is a CGI-based framework for Internet map services which
 supports Open Geospatial Consortium (OGC) standards.
